:root {
    --primary-color: #032903;
    --secondary-color: #f5b37e;
    --accent1-color: #172a31;
    --accent2-color: #f5e39c;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);

    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 120px 1fr;
    color: var(--accent2-color);
    gap: 10rem;
    align-items: center;
    padding: 10px;
    background-color: var(--primary-color);

}

header img {
    width: 90px;
    height: auto;
    margin-left: 20px;

}

header nav {
    display: flex;
    justify-content: center;
    gap: 0;
    padding: 10px 20px;
    width: 100%;
}

header nav a {
    color: var(--accent2-color);
    text-decoration: none;
    background-color: #043604;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid whitesmoke;
    width: 20%;
    text-align: center;

}

nav ul {
    display: flex;
    align-items: flex-end;
    list-style: none;
    gap: 1rem;

}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia {
    display: flex;
    gap: 10px;
}

.socialmedia img {
    text-decoration: none;
    width: 48px;
    height: 48px;

}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

h2 {
    background-color: var(--primary-color);
    text-align: center;
    color: aquamarine;
    padding: 15px;

}

.hero article {
    position: absolute;
    bottom: 30px;
    left: 10px;
    right: 10px;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    background-color: var(--secondary-color);
    padding: 20px;
    opacity: 0.9;

}

.hero article img {
    float: right;
    width: 115px;
    box-shadow: 0 0 10px gray;
    border: 1px solid black;

}

.history {
    text-align: center;
    margin: 40px auto;
    max-width: 1000px;
    background-color: var(--primary-color);
    padding: 10px;
    color: var(--accent2-color);
}

.history h2 {
    color: var(--accent2-color);
    margin-top: 5px;
}

.history-grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin-top: 20px;
    gap: 20px;
    align-items: center;
}

.history-grid img {
    width: 250px;
    height: auto;
}

.adventure {
    text-align: center;
    margin: 30px auto;
    max-width: 1200px;
}

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: start;
    margin-top: 20px;
    gap: 10px;
}

.adventure-grid figure {
    margin: 0;
}

.adventure-grid img {
    width: 155px;
    height: auto;
    object-fit: cover;
    background: #e5e5e5;
}

figcaption {
    margin-top: 5px;
    font-size: 0.9rem;
    font-weight: bold;
}

footer {
    background-color: var(--accent1-color);
    padding: 15px 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

footer p {
    text-align: center;
    margin: 0;
    font-size: 17px;
    color: #fff;
}