:root {
    --primary-color: #074e07;
    /* forest green */
    --secondary-color: #e49d63;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #3d2d04;
    /* light golden yellow */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    margin: 0 auto;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    color: var(--accent2-color);
}

header img {
    padding: 1px 20px;

}

nav a {
    color: var(--accent2-color);
    text-decoration: none;
    margin-left: 7px;
    font-weight: bold;
}

nav ul {
    padding-left: 15px;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    gap: none;
}

.socialmedia a {
    text-decoration: none;
    width: 48px;
    height: 48px;

}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

h2 {
    background-color: var(--primary-color);
    text-align: center;
    color: aquamarine;
    padding: 15px;

}

.hero article {
    position: absolute;
    bottom: 30px;
    left: 10px;
    right: 10px;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    background-color: var(--secondary-color);
    padding: 20px;
    opacity: 0.8;

}

.hero article img {
    float: right;
    width: 115px;
}

.hero article p {
    font-size: 18px;
    flex: 1;

}