:root {
    --primary-color: #032903;
    --secondary-color: #f5b37e;
    --accent1-color: #0e1d22;
    --accent2-color: #f5e39c;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 980px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 120px 1fr;
    color: var(--accent2-color);
    gap: 10rem;
    align-items: center;
    padding: 10px;
    background-color: var(--primary-color);

}

header img {
    width: 90px;
    height: auto;
    margin-left: 20px;

}

header nav {
    display: flex;
    justify-content: center;
    gap: 0;
    padding: 10px 20px;
    width: 100%;
}

header nav a {
    color: var(--accent2-color);
    text-decoration: none;
    background-color: #043604;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid whitesmoke;
    width: 20%;
    text-align: center;

}

nav ul {
    display: flex;
    align-items: flex-end;
    list-style: none;

}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia {
    display: flex;
    gap: 10px;
}

.socialmedia img {
    text-decoration: none;
    width: 48px;
    height: 48px;

}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

h2 {
    background-color: var(--primary-color);
    text-align: center;
    color: aquamarine;
    padding: 15px;

}

.hero article {
    position: absolute;
    bottom: 30px;
    left: 10px;
    right: 10px;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    background-color: var(--secondary-color);
    padding: 20px;
    opacity: 0.9;

}

.hero article img {
    float: right;
    width: 115px;
    box-shadow: 0 0 10px gray;
    border: 1px solid black;

}

.history {
    text-align: center;
    margin: 40px auto;
    max-width: 1000px;
    background-color: var(--primary-color);
    padding: 10px;
    color: var(--accent2-color);
}

.history h2 {
    color: var(--accent2-color);
    margin-top: 5px;
}

.history-grid {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin-top: 20px;
    gap: 20px;
    align-items: center;
}

.history-grid img {
    width: 250px;
    height: auto;
}

.adventure {
    text-align: center;
    margin: 30px auto;
    max-width: 1200px;
}

.adventure-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: start;
    margin-top: 20px;
    gap: 10px;
}

.adventure-grid figure {
    margin: 0;
}

.adventure-grid img {
    width: 155px;
    height: auto;
    object-fit: cover;
    background: #e5e5e5;
}

figcaption {
    margin-top: 5px;
    font-size: 0.9rem;
    font-weight: bold;
}

footer {
    background-color: rgb(1, 22, 2);
    padding: 15px 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

footer p {
    text-align: center;
    margin: 0;
    font-size: 17px;
    color: #fff;
}

/* the contact page css begins! */

.container {
    max-width: 900px;
    margin: auto;
    margin-top: 40px;
    text-align: center;

}

.container h1 {
    color: #111111;
}

.contact-info {
    margin-bottom: 30px;
    line-height: 1.3;
}

.contact-wrapper {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    justify-content: center;
}

.map-box {
    width: 45%;
}

.map-placeholder {
    background: #e0e0e0;
    margin-top: 80px;
    width: 100%;
    height: 350px;
    color: #555;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.iframe {
    border: 0;

}

.contact-form {
    width: 600px;
    text-align: left;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="text"],
input [type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 14px;
}

input[type="checkbox"] {
    margin-right: 6px;
}

.contact-form fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

textarea {
    height: 120px;
    resize: none;
}

.radio-group label,
.checkbox {
    display: block;
    margin-bottom: 20px;
    font-weight: normal;
}

button {
    width: 100%;
    padding: 12px;
    background: #15324b;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

button:hover {
    background: #ccc;
}

.team-section {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 30px;
    width: 980px;
    border: 2px solid #ccc;
    text-align: center;
}

.team-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
    background-color: #fff;
    text-align: center;
    color: #000;
}

.profile-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.profile-card {
    text-align: center;
}

.profile-img img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profile-img::after {
    content: "";
    width: 25px;
    height: 25px;
    background-color: gray;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
}

.profile-card p {
    font-size: 14px;
    font-weight: 600;
}